language: java
jdk:
- openjdk8
- openjdk9
services:
- docker
env:
  matrix:
    - COVERAGE=0.057 BUILD_TARGET=./monolithic/ui
    - COVERAGE=0.148 BUILD_TARGET=./monolithic/service/cart
    - COVERAGE=0.0 BUILD_TARGET=./monolithic/service/user
    - COVERAGE=0.36 BUILD_TARGET=./monolithic/repository/order
    - COVERAGE=0.0 BUILD_TARGET=./monolithic/repository/cart
    - COVERAGE=0.124 BUILD_TARGET=./monolithic/repository/product
    - COVERAGE=0.318 BUILD_TARGET=./monolithic/repository/user
  global:
  - DOCKER_LOGIN=tamigit491
  - secure: OcFoQxIlKtN832eiMijbnlFJNjatbvxDJmsWYxJM7z+Vymo3lT+xqcc0tDpQ9+LQOl+opX2dwaFux36cM7epWb5aFcE8Mgex+ki2Q65aoXS8KOlNlTmLKhSQPeEZJHknBQPutbxBW5a66HGrlz1gO41nGscyC0unf0dKZpe16sxqpPaU8NEH38cpKToXUoQ0lSR3B7oLHTU23G8R/GUBuKh0KXIypd5513E7mfHumrOCx4NA8p4j02nL03or3CGdgV/kX+JGY/ojS8gtgmXJ1PoK47Mh6Qa+FwK7/rNQwZP6YwPpTykTJsEiqV5iX3XC6xpF5AY8PKWPl4G/zRSEQd7uQYPcweRn8mIJq92U7mG70FB1zEQg2yS2vUFXUlSi1AGcT8+2jJ6YdFTGs0kOCdLBd7KsBZRXw0oCPvnozOUdB1cTQWLb46HX6eYEAZBC7iM+b210cbP8LPdTplvLQsky1qk7rots3jOryO8IP6LbtXHhrmvBAfou3xj4N/Mk2w1wfd6Bijq5vyX+FTzeHJPUF3IFAalBBgLHnOgq5qvmoh2zHq+XiW0TGX0v2PV5HGpNrOXmGDokFGXWAQqL9OytyhuaFhVAWo0IIDFvuPu+p/evg3f3qQDT3BWL49Aw6s/WS9F+uQZEJzSkLyY22dBOukj8MFGAD0HLDYf/aMM=
install:
- "./gradlew clean jar"
script:
- "./gradlew -p $BUILD_TARGET check"
after_success:
- find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'
deploy:
  provider: script
  script: bash -c "echo \"${DOCKER_PASSWORD}\" | docker login --username \"${DOCKER_LOGIN}\"
    --password-stdin ;"
  on:
    all_branches: true
